button.btn-burger {
  background-color: transparent;
  border: none;
  display: none;
}

#Subscribe-button{
  background-color: black;
  color: white;
}

.upper-container {
  display: flex;
  align-items: center;
  gap: 2rem;
  width: 100%;
  height: 100px;
  z-index: 1100;
  background-color: #ed002d;
  color: white;
  padding: 0;
}

.upper-wrapper{
  display: flex;
  align-items: center;
  gap: 2rem;
  width: 70%;
  min-width: 700px;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  height: 100px;
  flex-wrap: nowrap;
}

.secondary-container {
  display: flex;
  align-items: center;
  margin: 0 auto;
  width: 100%;
  height: 40px;
  padding-left: 20px;
}

.navbar-primary-list {
  display: flex;
  flex: 1;
  gap: 2rem;
  margin: 0 auto;
}

.navbar__secondary {
  z-index: 1000;
  border-bottom: 1px solid #e6dede;
  background-color: #fafafa;
  width: 100%;;
  max-width: 1000px;
  margin: 0 auto;
  overflow: hidden;
  white-space: nowrap;
}

.navbar__secondary .upper-wrapper{
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
}

.navbar__secondary::-webkit-scrollbar{
  display: none;
}

.navbar__secondary-list {
  display: flex;
  flex: 1;
  justify-content: flex-start;
  gap: 2rem;
  align-items: center;
  margin: 0 auto;
  flex-wrap: nowrap;
  width: max-content;
}

.other-links{
  display: none;
}


.navbar__secondary,
main.container {
  border: 1px solid #e6dede;
  width: 100%;
  margin: 0 auto;
  max-width: 1000px;
}

main {
  border: none;
  display: flex;
  flex-direction: column;
}

article img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

main.container {
  padding-top: 2em;
  border: 1px solid #e0e0e0;
  width: 100%;
}

.border-secondary {
  border-color: white;
}

@media (max-width: 1024px) {
  .navbar-primary-list {
    display: none;
  }

  button.btn-burger {
    display: block;
  }

  .upper-container{
    padding: 0.5rem;
  }

  .upper-container .d-flex{
    margin-left: auto;
  }
}

@media (max-width: 1021px){
  .navbar__secondary{
    overflow-x: auto;
  }
  .navbar__secondary-list{
    overflow-x: auto;
  }
  .other-links{
    display: block;
  }
}